<!-- <div class="w-full pl-4 pr-4 py-8"> -->

    <div class="flex flex-col flex-auto min-w-0">

        <!-- Header -->
        <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
            <div class="flex-1 min-w-0">
                <div class="flex flex-wrap items-center font-medium">
                    <div>
                        <a class="whitespace-nowrap text-primary-500">Registros</a>
                    </div>
                    <div class="flex items-center ml-1 whitespace-nowrap">
                        <mat-icon
                            class="icon-size-5 text-secondary"
                            [svgIcon]="'heroicons_mini:chevron-right'"></mat-icon>
                        <a class="ml-1 text-primary-500">Campañas</a>
                    </div>

                </div>
                <!-- Title -->
                <div class="mt-2">
                    <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                        Campañas
                    </h2>
                </div>
                
            </div>
        </div>
        


        <div class="w-full pl-11 pr-12 flex py-8 " mat-dialog-content>
                <mat-form-field class="flex-auto">
                    <mat-label>Buscar Campaña</mat-label>
                    <!-- <input
                    matInput
                    [attr.autocomplete]="'off'"
                    > -->
                    <input  
                    placeholder="Buscar por nombres de la campaña"
                    [(ngModel)]="searchTerm" (input)="onSearchChange(searchTerm)" 
                    matInput 
                     
                    placeholder="Buscar por nombres " >
                </mat-form-field>
                
                <div class="md-4 my-8 xs:col-4">
                    <!-- <button mat-stroked-button type="button">
                        Cancelar
                    </button> -->
                   
                    <button
                        class="ml-4"
                        mat-flat-button
                        type="button"
                        [color]="'primary'"
                        (click)="dialogoPostCampanias()"
                        >
                        Agregar Campaña
                        <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:user'"
                        matPrefix></mat-icon>
                    </button>
                    <!-- <button mat-flat-button>Basic</button> -->
                </div>
        </div>


        <div class="w-full pl-11 pr-12 "> 

            
            <div class=" overflow-x-auto">
            <table class="min-w-full border-collapse bg-white text-left text-sm text-gray-500">
              <thead class="bg-gray-50">
                <tr>
                  <th scope="col" class="px-6 py-4 font-medium text-gray-900">Etiqueta</th>
                  <th scope="col" class="px-6 py-4 font-medium text-gray-900">Campañas</th>
                  <th scope="col" class="px-6 py-4 font-medium text-gray-900">Fechas</th>
                  <th scope="col" class="px-6 py-4 font-medium text-gray-900">Estado</th>
                  <th scope="col" class="px-6 py-4 font-medium text-gray-900">Acciones</th>
                </tr>
              </thead>
              <tbody class="divide-y divide-gray-100">
                <tr *ngFor="let campaData of campaniasData" class="odd:bg-white even:bg-gray-50">
                  <td class="px-6 py-4 font-medium text-gray-900">{{ campaData.camp_nombre }}</td>
                  <td class="px-6 py-4">{{ campaData.camp_descripcion }}</td>
                  <td class="px-6 py-4">
                    {{ campaData.camp_fecha_ini | date: 'yyyy-MM-dd' }}
                    {{ campaData.camp_fecha_fin | date: 'yyyy-MM-dd' }}
                  </td>
                  <td class="px-6 py-4">
                    <span
                      *ngIf="campaData.camp_estado === 'Vigente'"
                      class="inline-flex items-center gap-1 rounded-full bg-green-50 px-2 py-1 text-xs font-semibold text-green-600"
                    >
                      Vigente
                    </span>
                    <span
                      *ngIf="campaData.camp_estado === 'Suspendido'"
                      class="inline-flex items-center gap-1 rounded-full bg-orange-50 px-2 py-1 text-xs font-semibold text-orange-600"
                    >
                      Suspendido
                    </span>
                    <span
                      *ngIf="campaData.camp_estado === 'Vencida'"
                      class="inline-flex items-center gap-1 rounded-full bg-red-50 px-2 py-1 text-xs font-semibold text-red-600"
                    >
                      Vencida
                    </span>
                  </td>
                  <td class="flex justify-end gap-4 px-6 py-4 font-medium">
                    <button mat-icon-button (click)="dialogoEitiquetaCampanias(campaData)">
                      <mat-icon class="text-hint" [svgIcon]="'heroicons_outline:megaphone'"></mat-icon>
                    </button>
                    <button mat-icon-button (click)="dialogoEditarCampanias(campaData)">
                      <mat-icon class="text-hint" [svgIcon]="'heroicons_outline:pencil'"></mat-icon>
                    </button>
                    <button mat-icon-button (click)="dialogoEliminarCampanias(campaData.camp_id)">
                      <mat-icon class="text-hint" [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
        </div>
            
            
            <mat-paginator
            #paginadorEtiquetas
            [length]="totalElementos"
            [pageSize]="limit"
            [pageSizeOptions]="[5, 10, 20]"
            (page)="pageEvent = getServerData($event)"
            >
            </mat-paginator>
            
        </div>

</div>








  
  



