
<div class="progress-card">

  <div class="file-upload-container">
    <mat-card>
      <mat-card-header>
        <h1 class="title">Subir Archivos de Contactos</h1>
      </mat-card-header>
      <mat-card-content>
        <input
          type="file"
          accept=".xlsx, .xls"
          (change)="onFileSelected($event)"
          #fileInput
          hidden
        />
        <div *ngIf="!isUploading" class="upload-actions">
          <button
            mat-raised-button
            color="primary"
            (click)="fileInput.click()"
            [disabled]="isUploading"
          >
            Seleccionar Archivo
          </button>
          <span *ngIf="fileName">{{ fileName }}</span>
        </div>
  
        <div *ngIf="isUploading">
          <mat-progress-bar
            mode="determinate"
            [value]="progress"
          ></mat-progress-bar>
          <p>{{ progress }}% completado</p>
        </div>
  
        <p *ngIf="uploadMessage" class="upload-message">
          {{ uploadMessage }}
        </p>
      </mat-card-content>
      <mat-card-actions class="actions">
        <button
          mat-button
          color="accent"
          *ngIf="!isUploading && uploadMessage"
          (click)="restartUpload()"
        >
          Volver a Importar
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
  