.swal-custom-confirm {
  background-color: #4caf50; /* Verde */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.swal-custom-cancel {
  background-color: #f44336; /* Rojo */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
