<div class="w-full max-w-3xl">

    <!-- Form -->


    <div class="w-full">
        <div class="text-xl">{{tipoDialog}} persona</div>
    </div>

    <!-- <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
        <div class="sm:col-span-4">
            <mat-form-field
                class="fuse-mat-emphasized-affix w-full"
                [subscriptSizing]="'dynamic'">
                <mat-label>Account SID </mat-label>
                <mat-icon
                    class="icon-size-5"
                    [svgIcon]="'heroicons_solid:key'"
                    matPrefix></mat-icon>
                <input
                    [formControlName]="'accountsid'"
                    matInput>
            </mat-form-field>
        </div> -->




    <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">

        <div class="sm:col-span-4">
            <mat-form-field
                class="fuse-mat-emphasized-affix w-full"
                [subscriptSizing]="'dynamic'">
            <mat-label>Nombres</mat-label>
            <input matInput name="nombre" [(ngModel)]="data.pers_nombres">
        </mat-form-field>
        </div>

        <div class="sm:col-span-4">
            <mat-form-field
                class="fuse-mat-emphasized-affix w-full"
                [subscriptSizing]="'dynamic'">
            <mat-label>Apellidos</mat-label>
            
            <input matInput [(ngModel)]="data.pers_apellidos">
        </mat-form-field> 
        </div>

        <div class="sm:col-span-4">
            <mat-form-field
                class="fuse-mat-emphasized-affix w-full"
                [subscriptSizing]="'dynamic'">
            <mat-label>Email</mat-label>
            
            <input matInput [(ngModel)]="data.pers_email">
        </mat-form-field> 
        </div>

        <div class="sm:col-span-4">
            <mat-form-field
                class="fuse-mat-emphasized-affix w-full"
                [subscriptSizing]="'dynamic'">
            <mat-label>Teléfono</mat-label>
            
            <input matInput [(ngModel)]="data.pers_telefono">
        </mat-form-field> 
        </div>

        <div class="sm:col-span-4">
            <!-- <mat-form-field class="min-w-40 ml-8 xs:ml-0"> -->
                <!-- <mat-label>Icon size</mat-label>
                <mat-select >
                    <mat-option [value]="'icon-size-4'">16</mat-option>
                    <mat-option [value]="'icon-size-5'">20</mat-option>
                    <mat-option [value]="'icon-size-6'">24</mat-option>
                    <mat-option [value]="'icon-size-8'">32</mat-option>
                    <mat-option [value]="'icon-size-10'">40</mat-option>
                    <mat-option [value]="'icon-size-12'">48</mat-option>
                    <mat-option [value]="'icon-size-16'">64</mat-option>
                </mat-select> -->


                <!-- <mat-label>Selecciona un nombre</mat-label>
            <mat-select [(value)]="seleccionado" (selectionChange)="onChange($event)">
                <mat-option *ngFor="let etiq of etiquetasData" [value]="dato.id">
                {{ etiq.etiq_nombre }}
                </mat-option>
            </mat-select> -->


            <!-- <mat-label>Asginar etiqueta</mat-label>
            <mat-select [(ngModel)]="seleccionado" (selectionChange)="onChange($event)">
                <mat-option *ngFor="let etiq of etiquetasData" [value]="etiq.etiq_id">
                {{ etiq.etiq_nombre }}
                </mat-option>
            </mat-select>

            </mat-form-field> -->
        </div>



    </div>


    <div mat-dialog-actions>
    <!-- <button mat-button (click)="onCancel()">Cancelar</button>
    <button mat-button (click)="onSave()">Guardar</button> -->
    <button
                    mat-stroked-button
                    type="button"
                    (click)="onCancel()">
                    Cancelar
                </button>

    <button
                    class="ml-4"
                    mat-flat-button
                    type="button"
                    [color]="'primary'"
                    (click)="onSave()"
                    >Guardar
                </button>
    </div>

</div>